%h2 New Subcategory
= form_for @subcategory, :html => {:class => 'form-horizontal'} do |f|
  = f.hidden_field :category_id, :value => @category.id
  %fieldset
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        = f.text_field :name
    .control-group
      = f.label :description, :class => 'control-label'
      .controls
        = f.text_field :description
    .form-actions
      = f.submit :class => 'btn btn-info'