%fieldset
  .control-group
    = form.label :username, :class => 'control-label'
    .controls
      = form.text_field :username
  .control-group
    = form.label :email, :class => 'control-label'
    .controls
      = form.text_field :email
  .control-group
    = form.label :password, form.object.new_record? ? nil : "Change password", :class => 'control-label'
    .controls
      = form.password_field :password
  .control-group
    = form.label :password_confirmation, :class => 'control-label'
    .controls
      = form.password_field :password_confirmation
  .control-group
    = form.label :admin, :class => 'control-label'
    .controls
      = form.check_box :admin