= link_to 'New User', new_user_path, :class => 'btn btn-info right'
%h2 Listing users
#notice= notice
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Email
      %th
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td.centered= link_to 'View', user, :class => 'btn btn-info'
        %td.centered= link_to 'Edit', edit_user_path(user), :class => 'btn btn-info'
        %td.centered= link_to 'Remove', user, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger'

