%h2= "Subcategory - #{@subcategory.name}"
- if notice.present?
  .alert.alert-info.alert-block
    <a class="close" data-dismiss="alert">×</a>
    %p= notice


%table.table.table-striped.table-bordered.datatables
  %thead
    %tr
      %th File Name
      %th.full File Size
      %th.full File Type
      %th.full Created Time
      %th Delete
  %tbody
    - @file_attachments.each do |file_attachment|
      %tr
        %td= link_to file_attachment.attachment_file_file_name, file_attachment_path(file_attachment.id)
        %td.full= link_to file_attachment.attachment_file_file_size, file_attachment_path(file_attachment.id)
        %td.full= link_to file_attachment.attachment_file_content_type, file_attachment_path(file_attachment.id)
        %td.full= link_to file_attachment.attachment_file_updated_at, file_attachment_path(file_attachment.id)
        %td= link_to t(:delete_file), file_attachment, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger'
= will_paginate @file_attachments
