- if notice.present?
  .alert.alert-success
    = notice
/- if current_user && current_user.is_admin?
/  = link_to 'New Category', new_category_path, :class => 'btn btn-info right'

%h2 Welcome
.slider_wrap
  .slider
    .slide.slide1
      = image_tag 'home_1.jpg'
    .slide.slide1
      = image_tag 'home_2.jpg'
    .slide.slide1
      = image_tag 'home_3.jpg'
    .slide.slide1
      = image_tag 'home_4.jpg'
    .slide.slide1
      = image_tag 'home_5.jpg'
    .slide.slide1
      = image_tag 'home_6.jpg'
    .slide.slide1
      = image_tag 'home_7.jpg'
    .slide.slide1
      = image_tag 'home_8.jpg'
   
.home_headings
  %h3 News
  %h3.about About
  %h3.links Links
.home_content
  .content_block
    %h3.mobile News
    %ul
      %li Scania Tier 4f unveiled at Intermat 2012
      %li Distributor Conference material is ready, find it under Marketing
      %li New 13L Marine engine now in production
  
  .content_block.about
    %h3.mobile About
    %p Toolbox is Scania U.S.A. Inc’s, intranet site which allows us to get locally pertinent information out to the network in an easy and accessible manner
    %p It is seen as a complement to SAIL.
    %p Scania’s objective is to deliver optimized engines and services, provide the best total operating economy for our customers, and thereby be the leading company in our industry. The foundation is our core values, our focus on methods and the dedicated people of Scania.
  .content_block
    %h3.mobile Links
    %ul
      %li 
        = link_to 'SAIL', 'https://sail.scania.com'
      %li 
        = link_to 'scaniausa.com', 'http://www.scaniausa.com'
      %li 
        = link_to 'scania.com', 'http://www.scania.com'






