%h2 New Category
= form_for @category, :html => {:class => 'form-horizontal'}, do |f|
  %fieldset
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        = f.text_field :name
    .control-group
      = f.label :description, :class => 'control-label'
      .controls
        = f.text_field :description
    .form-actions
      = f.submit :class => 'btn btn-info'

