- if current_user && current_user.is_admin?
  = link_to 'New Folder', new_category_subcategory_path(@category), :class => 'btn btn-info right'
  = link_to 'Delete Folders', subcategories_path(:category_id => params[:id]), :class => 'btn btn-danger right'
%h2= @category.name
- if notice.present?
  .alert.alert-success
    = notice



%table.table.table-striped.table-bordered.datatables
  %thead
    %tr
      %th Folder Name
      %th Description
      %th
  %tbody
    - @category.subcategories.each do |subcategory|
      %tr
        %td= link_to subcategory.name, category_subcategory_path(@category, subcategory)
        %td= subcategory.description
        %td.centered= link_to 'View', category_subcategory_path(@category, subcategory), :class => 'btn btn-info'
