!!!
%html
  %head
    /= stylesheet_link_tag "screen"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %title Distributor Toolbox
  %body
    %header
      .fixed_content
        %h1.logo
          = link_to 'Scania', '/'
        %h2
          Distributor Toolbox
        - if current_user
          .welcome_back
            %p= "Welcome back #{current_user.email}"
            = link_to "Logout", :logout, :class => 'btn btn-info'
      .navbar
        .navbar-inner
          .container
            .fixed_content
              = link_to "Home", '/'
              - if current_user
                - categories.each do |category|
                  = link_to category.name, category_path(category)
                - if current_user.is_admin?
                  .admin_link
                    = link_to "Manage Users", users_path
    .main_content
      .texture
        .fixed_content
          = yield
    %footer
      .fixed_content
        %p Scania USA Inc. 2012
      
