!!!
%html
  %head
    = stylesheet_link_tag "screen"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %title Distributor Toolbox
  %body
    %header
      .fixed_content
        %h1.logo
          = link_to 'Scania', '/'
        %h2
          Scania U.S.A Inc Distributor Toolbox
        - if current_user
          .welcome_back
            %p= "Welcome back #{current_user.username}"
            = link_to "Logout", :logout, :class => 'btn btn-info'
      .navbar
        .navbar-inner
          .container
            .fixed_content
              = link_to "Home", '/'
              - if current_user
                - categories.each do |category|
                  = link_to category.name, category_path(category)
                %a{:href => "mailto:Contact@scaniausainc.com"}
                  Contact
                - if current_user.is_admin?
                  .admin_link
                    = link_to "Manage Users", users_path
    .main_content
      .texture
        .fixed_content
          = yield
    %footer
      .fixed_content
        %p Scania USA Inc. 2012
    %script{ :src => '/javascripts/jquery.orbit-1.3.0.js'}
    %script{ :src => '/javascripts/jquery.dataTables.min.js'}
    :javascript
      $(document).ready(function() {
        $('.datatables').dataTable();
      });
    :javascript
      $('.slider').orbit({
        animation: 'fade',                  // fade, horizontal-slide, vertical-slide, horizontal-push
        animationSpeed: 800,                // how fast animtions are
        timer: true, 			 // true or false to have the timer
        advanceSpeed: 6000, 		 // if timer is enabled, time between transitions 
        pauseOnHover: false, 		 // if you hover pauses the slider
        startClockOnMouseOut: false, 	 // if clock should start on MouseOut
        startClockOnMouseOutAfter: 1000, 	 // how long after MouseOut should the timer start again
        directionalNav: true, 		 // manual advancing directional navs
        captions: true, 			 // do you want captions?
        captionAnimation: 'fade', 		 // fade, slideOpen, none
        captionAnimationSpeed: 800, 	 // if so how quickly should they animate in
        bullets: true,			 // true or false to activate the bullet navigation
        bulletThumbs: false,		 // thumbnails for the bullets
        bulletThumbLocation: '',		 // location from this file where thumbs will be
        afterSlideChange: function(){} 	 // empty function 
      });

      
